<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="../static/css/styles.css">
    <script type="text/javascript" src="../static/js/script.js"async></script>
    <title>University Admit Eligibility Predictor</title>
</head>
<body>
    <h1> You Have Chance </h1>
    {{content[0]}}
    <img src="..\static\img\chance.png">
</body>
</html>